:root {
  --background: #1b1c28;
  --primary: #e5e7eb;
  --secondary: #9ca3af;
  --accent: #7c98ff;
  --border: #30313c;
}

body {
  background-color: var(--background);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.navbar {
  z-index: 2;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 75px;
  border-bottom: 1px solid var(--border);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--background);
}

.navbar-logo {
  position: relative;
  height: 45px;
  float: left;
  margin-left: calc(100%/4 - 150px); margin-right: calc(100%/4 - 200px);
}

@media (max-width: 800px) {
  .navbar-logo {
    margin-left: 50px; margin-right: 0;
  }
}

.navbar-item {
  position: relative;
  height: 30px;
  float: left;
  margin-left: calc(2.5%);
  color: var(--secondary);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--background);
  transition: border 0.4s ease;
  text-decoration: none;
  font-size: 16px;
}

.navbar-item:hover {
  border-bottom: 1px solid var(--accent);
}

@media (max-width: 800px) {
  .navbar-item {
    display: none;
  }
}

.navbar-toggle {
  display: none;
  width: 36px; height: 26px;
  position: absolute;
  right: 50px;
}



@media (max-width: 800px) {
  .navbar-toggle {
    display: block;
  }
}

.navbar-toggle>div {
  background-color: var(--primary);
  width: 36px; height: 4px;
  margin-bottom: 7px;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.navbar-toggle:hover>div {
  background-color: var(--accent);
}

.navbar-dropdown {
  opacity: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 75px;
  padding-top: 25px; padding-bottom: 15px;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  transition: all 0.4s ease;
}

.navbar-dropdown-item {
  position: relative;
  width: calc(100% - 200px); height: 30px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: var(--secondary);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--background);
  transition: border 0.4s ease;
  text-decoration: none;
  font-size: 16px;
}

.navbar-dropdown-item:hover {
  border-bottom: 1px solid var(--accent);
}

.content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - (min(70%, 800px)/2));
  width: 70%;
  max-width: 800px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.footer {
  z-index: 0;
  position: relative;
  top: 80px; left: calc(50% - (350px/2));
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px; padding-bottom: 15px;
}

.footer-item {
  position: relative;
  float: left;
  color: var(--secondary);
  text-decoration: none;  
  font-size: 16px;
  transition: all 0.4s ease;
}

.footer-item:hover {
  color: var(--accent);
  transform: translateY(-4px);
}

.footer-item>img {
  position: relative;
  bottom: -5px;
}