:root {
  --background: #1b1c28;
  --primary: #e5e7eb;
  --secondary: #9ca3af;
  --accent: #7c98ff;
  --border: #30313c;
}

body {
  background-color: var(--background);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 75px;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.navbar-logo {
  position: relative;
  height: 45px;
  float: left;
  margin-left: calc((100% - 550px - 225px)*0.3); margin-right: calc((100% - 550px - 225px)*0.3);
}

.navbar-item {
  position: relative;
  height: 30px;
  float: left;
  margin-left: 35px;
  color: var(--secondary);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--background);
  transition: border 0.4s ease;
  text-decoration: none;
  font-size: 16px;
}

.navbar-button:hover {
  border-color: var(--accent);
}

.navbar-button:hover .navbar-button-indicator {
  width: 44px;
  margin-left: -7px;
}

.navbar-item:hover {
  border-bottom: 1px solid var(--accent);
}

@media (max-width: 800px) {
  .navbar-logo {
    margin-left: 10px; margin-right: 10px;
  }

  .navbar-item {
    display: none;
  }
}

.content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - (800px/2));
  width: 800px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.footer {
  z-index: 0;
  position: relative;
  top: 80px; left: calc(50% - (350px/2));
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px; padding-bottom: 15px;
}

.footer-item {
  position: relative;
  float: left;
  color: var(--secondary);
  text-decoration: none;  
  font-size: 16px;
  transition: all 0.4s ease;
}

.footer-item:hover {
  color: var(--accent);
  transform: translateY(-4px);
}

.footer-item>img {
  position: relative;
  bottom: -5px;
}