:root {
  --highlight: rgb(26, 27, 36);
  --shadow: rgb(22, 22, 28);
  --panel: rgb(31, 33, 40);
  --light: rgb(190, 200, 220);
}

body {
  background-color: var(--highlight);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

.body {
  opacity: 0;
  transition: all 0.4s ease;
}

.navbar-holder {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  transition: top 0.4s ease;
}

.navbar {
  z-index: 2;
  position: absolute;
  top: 0; left: 0;
  background-color: var(--highlight);
  width: 100%; height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.navbar-name {
  position: absolute;
  top: 18px; left: 30px;
  filter: invert(100%);
}

.navbar-item {
  position: relative;
  float: left;
  height: 40px;
  padding-left: 15px; padding-right: 15px;
  margin-left: 20px; margin-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.navbar-item:hover {
  background-color: var(--shadow);
}

@media (max-width: 1100px) {
  .navbar-item {
    padding-left: 5px; padding-right: 5px;
    margin-left: 10px; margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .navbar-item {
    display: none;
  }
}

.navbar-right {
  position: absolute;
  right: 15px;
  height: 60px;
}

.navbar-icon {
  position: relative;
  float: right;
  margin-top: 15px;
  margin-right: 30px;
}

.navbar-menu {
  position: relative;
  float: right;
  height: 30px; width: 30px;
  margin-top: 15px;
  margin-right: 15px;
}

@media (min-width: 900px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-menu>div {
  height: 6px;
  width: 30px;
  background-color: white;
  margin-bottom: 6px;
  border-radius: 3px;
}

.navbar-dropdown {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  padding-top: 10px; 
  background-color: var(--highlight);
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.navbar-dropdown-item {
  position: relative;
  height: 40px;
  padding-left: 15px; padding-right: 15px;
  margin-left: 30px; margin-right: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.navbar-dropdown-item:hover {
  background-color: var(--shadow);
}

.body {
  position: absolute;
  top: 60px; left: 0;
}

.banner {
  position: relative;
  width: 100%; height: calc(100vw / 6);
  margin-bottom: -5px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.title {
  position: absolute;
  top: 0px; left: 60px;
  height: 32px;
  margin-top: calc((100vw / 12) - 14px);
  margin-left: 0;
  display: flex;
  align-items: center;
  font-size: 28px;
  background-image: linear-gradient(45deg, #ff8a8a, #8c8cff);
  background-clip: text;
  color: transparent;
}

.content {
  position: relative;
  left: 120px;
  margin-right: 120px;
  width: calc(100% - 240px);
}

.content>h2 {
  font-size: 28px;
  margin-left: 20px; margin-right: 20px;
}

.content>h4 {
  font-size: 22px;
  margin-left: 50px; margin-right: 50px;
}

.content>p {
  font-size: 16px;
  margin-left: 80px; margin-right: 80px;
}

.content>p>a {
  text-decoration: none;
  color: var(--light);
}

.content>p>a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  bottom: 0; left: 0;
  width: 100%; height: 60px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.footer>a {
  position: relative;
  float: left;
  margin-left: 15px; margin-right: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--light);
}

.footer>a:hover {
  text-decoration: underline;
}