.bio {
  position: relative;
  width: 100%; height: 275px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
}

.bio-image {
  position: relative;
  float: left;
  margin-left: 25px; margin-right: 75px;
  width: 200; height: 200px;
  border-radius: 100px;
  border: 1px solid var(--accent);
}

.bio-text {
  position: relative;
  float: left;
  height: 150px;
  margin-right: 25px;
}

.bio-text-1 {
  color: var(--primary);
  font-size: 32px;
  margin: 0;
}

.bio-text-2 {
  color: var(--primary);
  font-size: 22px;
}

.bio-text-3 {
  color: var(--secondary);
  font-size: 16px;
}

.recent {
  position: relative;
  width: 100%; height: 200px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
}

.recent>p {
  position: absolute;
  top: -10px; left: calc(50% - (125px/2));
  margin: 0;
  width: 125px;
  text-align: center;
  background-color: var(--background);
  color: var(--primary);
  font-size: 16px;
}

.recent-hardware {
  position: absolute;
  right: 50%;
  width: 350px; height: 125px;
  box-sizing: border-box;
  border-right: 0.5px solid var(--border);
}

.recent-hardware-text {
  position: absolute;
  top: 0; right: 75px;
  width: max-content; height: 100%;
}

.recent-hardware-text-1 {
  position: relative;
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.recent-hardware-text-2 {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
}

.recent-hardware-text-2>li {
  color: var(--secondary);
  margin-top: 10px;
}

.recent-hardware-text-2>li::marker {
  color: var(--accent);
}

.recent-software {
  position: absolute;
  left: 50%;
  width: 350px; height: 125px;
  box-sizing: border-box;
  border-left: 0.5px solid var(--border);
}

.recent-software-text {
  position: absolute;
  top: 0; left: 75px;
  width: max-content; height: 100%;
}

.recent-software-text-1 {
  position: relative;
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.recent-software-text-2 {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
}

.recent-software-text-2>li {
  color: var(--secondary);
  margin-bottom: 10px;
}

.recent-software-text-2>li::marker {
  color: var(--accent);
}