.bio {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 30px;
  padding-left: 75px; padding-right: 75px;
}

@media (max-width: 800px) {
  .bio {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

.bio-image {
  position: relative;
  float: left;
  width: 200; height: 200px;
  border-radius: 100px;
  border: 1px solid var(--accent);
}

.bio-text {
  position: relative;
  float: left;
}

.bio-text-1 {
  color: var(--primary);
  font-size: 32px;
  margin: 0;
}

.bio-text-2 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
  margin-top: 20px;
}

.bio-text-3 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
}

.background {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 75px; padding-right: 75px;
  padding-bottom: 30px;
}

.background-text {
  line-height: 1.3;
}

.background-text>p {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
}

.recent {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 75px;
  padding: 30px;
  padding-left: 75px; padding-right: 75px;
}

@media (max-width: 800px) {
  .recent {
    flex-direction: column;
    gap: 30px;
  }
}

.recent>p {
  position: absolute;
  top: -10px; left: calc(50% - (120px/2));
  margin: 0;
  width: 120px;
  text-align: center;
  background-color: var(--background);
  color: var(--primary);
  font-size: 16px;
}

.recent-hardware {
  position: relative;
}

.recent-hardware-text-1 {
  position: relative;
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.recent-hardware-text-2 {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  margin: 0;
}

.recent-hardware-text-2>li {
  color: var(--secondary);
  margin-top: 10px;
}

.recent-hardware-text-2>li::marker {
  color: var(--accent);
}

.recent-software {
  position: relative;
}

.recent-software-text-1 {
  position: relative;
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.recent-software-text-2 {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  margin: 0;
}

.recent-software-text-2>li {
  color: var(--secondary);
  margin-top: 10px;
}

.recent-software-text-2>li::marker {
  color: var(--accent);
}