:root {
  --highlight: rgb(26, 27, 36);
  --shadow: rgb(22, 22, 28);
  --panel: rgb(31, 33, 40);
  --light: rgb(190, 200, 220);
}

body {
  background-color: var(--highlight);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

.body {
  opacity: 0;
  transition: all 0.4s ease;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0; left: 0;
  background-color: var(--highlight);
  width: 100%; height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.2s ease;
}

.navbar-name {
  position: absolute;
  top: 18px; left: 30px;
  filter: invert(100%);
}

.navbar-item {
  position: relative;
  float: left;
  height: 40px;
  padding-left: 15px; padding-right: 15px;
  margin-left: 20px; margin-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 16px;
  transition: background-color 0.4s ease;
}

.navbar-item:hover {
  background-color: var(--shadow);
}

.navbar-icon {
  position: absolute;
  top: 15px;
  right: 30px;
  float: right;
}

.body {
  position: absolute;
  top: 60px; left: 0;
}

.banner {
  position: relative;
  width: 100%; height: calc(100vw / 6);
  margin-bottom: -5px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.title {
  position: absolute;
  top: 0px; left: 60px;
  height: 32px;
  margin-top: calc((100vw / 12) - 14px);
  margin-left: 0;
  display: flex;
  align-items: center;
  font-size: 28px;
  background-image: linear-gradient(45deg, #ff8a8a, #8c8cff);
  background-clip: text;
  color: transparent;
}

.content {
  position: relative;
  left: 120px;
  margin-right: 120px;
  width: calc(100% - 240px);
}

.content>h2 {
  font-size: 30px;
}

.content>h4 {
  font-size: 24px;
  margin-left: 20px;
}

.content>p {
  font-size: 18px;
  margin-left: 40px;
}

.content>p>a {
  text-decoration: none;
  color: var(--light);
}

.content>p>a:hover {
  text-decoration: underline;
}

.footer {
  position: relative;
  bottom: 0; left: 0;
  width: 100%; height: 60px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.footer>a {
  position: relative;
  float: left;
  margin-left: 15px; margin-right: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--light);
}

.footer>a:hover {
  text-decoration: underline;
}