.bio {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 30px;
  padding-left: 75px; padding-right: 75px;
}

@media (max-width: 800px) {
  .bio {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

.bio-image {
  position: relative;
  float: left;
  width: 200; height: 200px;
  border-radius: 100px;
  border: 1px solid var(--accent);
}

.bio-text {
  position: relative;
  float: left;
}

.bio-text-1 {
  color: var(--primary);
  font-size: 32px;
  margin: 0;
}

.bio-text-2 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
  margin-top: 20px;
}

.bio-text-3 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
}

.background {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 75px; padding-right: 75px;
  padding-bottom: 30px;
}

.background-text {
  line-height: 1.3;
}

.background-text>p {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
}

.recent {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding-top: 30px; padding-bottom: 30px;
}

@media (max-width: 800px) {
  .recent {
    flex-direction: column;
    gap: 30px;
  }
}

.recent>p {
  position: absolute;
  top: -10px; left: calc(50% - (135px/2));
  margin: 0;
  width: 135px;
  text-align: center;
  background-color: var(--background);
  color: var(--primary);
  font-size: 16px;
}

.recent-entry {
  position: relative;
}

.recent-entry>p {
  position: relative;
  color: var(--primary);
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.recent-grid {
  position: relative;
  margin: 0;
  display: grid;
}

.entry {
  position: relative;
  float: left;
  width: 270px; height: 135px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  transition: all 0.4s ease;
  margin-top: 15px;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 0.5px solid var(--accent);
}

.entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.entry-title {
  position: absolute;
  width: 270px;
  top: calc(135px - 30px - 10px);
  height: 30px;
  color: var(--primary);
  margin: 0;
  text-align: center;
  align-content: center;
  font-size: 22px;
  transition: top 0.4s ease;
}

.entry-description {
  position: absolute;
  top: calc(20px + 30px + 10px);
  width: calc(270px - 50px);
  opacity: 0;
  margin: 0;
  color: var(--secondary);
  font-size: 16px;
  margin-left: 25px; margin-right: 25px;
  transition: all 0.4s ease;
}

.entry:hover .entry-title {
  top: 20px;
}

.entry:hover .entry-description {
  opacity: 1;
}

.entry>img {
  z-index: 0;
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  mask-image: linear-gradient(to bottom, black 0%, black 0%, transparent 100%);
  transition: all 0.4s ease;
}

.entry:hover>img {
  filter: opacity(0);
}