.digital-content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - ((80% - mod(80%, 250px + 30px) - 30px + 50px)/2));
  width: calc(80% - mod(80%, 250px + 30px) - 30px + 50px);
  opacity: 0;
  transition: opacity 0.4s ease;
}

@media (max-width: 800px) {
  .digital-content {
    width: 575px;
    left: calc(50% - 575px/2);
  }
}

.content-header {
  position: relative;
  padding-top: 30px;
  padding-left: 50px; padding-right: 50px;
  overflow: hidden;
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  width: max-content;
  padding-top: 5px; padding-bottom: 5px;
  margin-top: -5px; margin-bottom: -5px;
  padding-left: 10px; padding-right: 10px;
  margin-left: -10px; margin-right: -10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  width: max-content;
  padding-top: 5px; padding-bottom: 5px;
  margin-top: 5px; margin-bottom: -5px;
  padding-left: 10px; padding-right: 10px;
  margin-left: -10px; margin-right: -10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.content-banner {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to right, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%),
    linear-gradient(135deg, rgba(0,0,0,0) 15%, rgba(0,0,0,0.75) 50%);
}

.content-select {
  color: var(--primary);
  width: 100%;
  margin-top: 30px;
  margin-left: -25px;
}

.content-select>p {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 25px;
  font-size: 16px;
  padding-top: 5px; padding-bottom: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--background);
  transition: all 0.4s ease;
  user-select: none;
}

.content-select>p:hover {
  border-bottom-color: var(--accent);
  color: var(--accent);
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 30px 30px;
  margin: 0;
  padding-left: 25px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding-top: 30px; padding-bottom: 30px;
}

.entry-hidden {
  display: none;
}

.entry {
  position: relative;
  float: left;
  width: 250px; height: 210px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  transition: all 0.4s ease;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 0.5px solid var(--accent);
}

.entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.entry-text {
  position: absolute;
  z-index: 1;
  margin: 15px;
  bottom: 45px;
  width: 250px;
}

.entry-text-1 {
  margin: 0;
  margin-top: 10px;
  color: var(--primary);
  font-size: 22px;
}

.entry-text-2 {
  margin: 0;
  margin-top: 10px;
  color: var(--secondary);
  font-size: 16px;
}

.entry-tags {
  position: absolute;
  bottom: 0;
  margin: 15px;
}

.entry-tags>p {
  position: relative;
  float: left;
  margin: 0;
  font-size: 12px;
  color: var(--secondary);
  height: 30px;
  border: 1px solid var(--accent);
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px; padding-right: 10px;
  margin-right: 5px;
}

.entry-img {
  z-index: 0;
  position: absolute;
  top: 0; right: 0;
  width: 250px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}