.digital-content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - ((100vw - 150px - mod(100vw - 150px, 250px + 25px) - 25px)/2));
  width: calc(100vw - 150px - mod(100vw - 150px, 250px + 25px) - 25px);
  opacity:  0;
  transition: opacity 0.4s ease;
}

.content-header {
  position: relative;
  padding-top: 25px;
  padding-left: 50px; padding-right: 50px;
  overflow: hidden;
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.content-banner {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%),
    linear-gradient(135deg, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 50%);
}

.content-select {
  color: var(--primary);
  width: 100%;
  margin-top: 25px;
  margin-left: -25px;
}

.content-select>p {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 25px;
  font-size: 16px;
  padding-top: 5px; padding-bottom: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--background);
  transition: all 0.4s ease;
}

.content-select>p:hover {
  border-bottom-color: var(--accent);
  color: var(--accent);
}

.content-grid {
  display: grid;
  width: calc(100vw - 150px - mod(100vw - 150px, 250px + 25px) - 25px);
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 25px 25px;
  margin: 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding-top: 25px; padding-bottom: 25px;
}

.entry-hidden {
  display: none;
}

.entry {
  position: relative;
  float: left;
  width: 250px; height: 210px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  transition: transform 0.4s ease;
  text-decoration: none;
}

.entry:hover {
  transform: translateY(-5px);
}

.entry-text {
  position: absolute;
  z-index: 1;
  margin: 15px;
  bottom: 45px;
  width: 250px;
}

.entry-text-1 {
  margin: 0;
  margin-top: 10px;
  color: var(--primary);
  font-size: 22px;
}

.entry-text-2 {
  margin: 0;
  margin-top: 10px;
  color: var(--secondary);
  font-size: 16px;
}

.entry-tags {
  position: absolute;
  bottom: 0;
  margin: 15px;
}

.entry-tags>p {
  position: relative;
  float: left;
  margin: 0;
  font-size: 12px;
  color: var(--secondary);
  height: 30px;
  border: 1px solid var(--accent);
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px; padding-right: 10px;
  margin-right: 5px;
}

.entry-img {
  z-index: 0;
  position: absolute;
  top: 0; right: 0;
  width: 250px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}