.content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - 65%/2);
  width: 65%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.content-header {
  position: relative;
  padding-top: 25px; padding-bottom: 25px;
  padding-left: 50px; padding-right: 50px;
  overflow: hidden;
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.content-grid {
  position: absolute;
  bottom: 25px; right: 50px;
  width: calc(100% - 100px); height: 25px;
}

.content-grid-dot {
  position: relative;
  float: right;
  width: 5px; height: 5px;
  background-color: var(--accent);
  margin: 10px;
  border-radius: 2.5px;
}

.content-image {
  position: relative;
  float: right;
  height: 25px;
  transition: all 0.4s ease;
}

.content-image:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 0 5px var(--accent));
}

.content-image>img {
  position: relative;
  height: 100%;
}

.content-body {
  padding: 25px;
  padding-top: 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.heading {
  margin: 0;
  margin-top: 50px; margin-bottom: 50px;
  color: var(--primary);
  font-size: 28px;
}

.text {
  margin: 0;
  margin-bottom: 15px;
  color: var(--secondary);
  font-size: 16px;
  padding-left: 25px;
}

.video {
  width: calc(100% - 25px);
  margin-left: 25px;
  margin-bottom: 10px;
  position: relative;
}

.video>video {
  margin-left: calc(50% - 30vw/2);
  width: 30vw;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.video>p {
  color: var(--secondary);
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.code-block {
  position: relative;
}

.code-name {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 25px;
  text-align: right;
  color: var(--tn_white);
}

.code {
  position: relative !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  width: calc(100% - 75px) !important;
  margin-top: 25px !important; margin-bottom: 25px !important;
  margin-left: 25px !important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5) !important;
  font-size: 14px !important;
  background-color: var(--tn_black) !important;
  overflow-x: scroll !important;
}

.code code {
    color: var(--tn_white) !important;
}

pre[class*="language-"] {
  padding: 25px !important;
}

.token.keyword { color: var(--tn_purple) !important; }
.token.number { color: var(--tn_orange) !important; }
.token.operator { color: var(--tn_blue) !important; }
.token.string { color: var(--tn_green) !important; }
.token.comment { color: var(--tn_grey) !important; }
.token.punctuation { color: var(--tn_lavender) !important; }
.token.constant { color: var(--tn_orange) !important; }

.image-grid {
  width: calc(100% - 25px);
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.figure-image {
  position: relative;
  height: 15vw;
  margin-bottom: 30px;
}

.figure-image>img {
  height: 15vw;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.figure-image>video {
  height: 15vw;
  border-radius: 10px;
  margin: auto;
  display: block;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.figure-image>p {
  color: var(--secondary);
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}