.hardware-content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - ((100vw - 150px - mod(100vw - 150px - 16px, 450px + 25px) + 100px)/2));
  width: calc(100vw - 150px - mod(100vw - 150px - 16px, 450px + 25px) + 100px);
  opacity:  0;
  transition: opacity 0.4s ease;
}

.content-header {
  position: relative;
  padding-top: 25px; padding-bottom: 25px;
  padding-left: calc(125px + 16px + 50px); padding-right: 50px;
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.content-banner {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%),
    linear-gradient(135deg, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 50%);
}

.timeline {
  margin-top: -25px;
  padding-bottom: 25px;
}

.year {
  opacity: 0;
  position: relative;
  margin-bottom: -50px;
  mask-composite: add;
  mask-image: 
      linear-gradient(to bottom, transparent 0px, black 25px, black calc(100% - 25px), transparent 100%),
      linear-gradient(to right, transparent calc(100px + 16px - 4px/2), black calc(100px + 16px - 4px/2));
  padding-top: 25px;
  padding-bottom: 25px;
  transform: translateY(25px);
  transition: all 0.4s ease;
}

.year.visible {
  opacity: 1;
  transform: translateY(0px);
}

.year-dot {
    position: absolute;
    top: calc(50% - 16px/2); left: 100px;
    background-color: var(--accent);
    width: 16px; height: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--accent);
}

.year-line {
    background-color: var(--border);
    position: absolute;
    top: 0; left: calc(100px + 16px/2 - 4px/2);
    width: 4px; height: 100%;
}

.year-text {
    position: absolute;
    top: calc(50% - 50px/2); left: 0;
    width: 75px; height: 50px;
    text-align: right;
    margin: 0;
    font-size: 22px;
    color: var(--primary);
    align-content: center;
}

.year-grid {
    position: relative;
    left: calc(100px + 16px + 25px);
    width: calc(100vw - 150px - 16px - mod(100vw - 150px - 16px, 450px + 25px) - 25px);
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    gap: 25px 25px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border);
}

.entry {
  position: relative;
  float: left;
  width: 450px; height: 150px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  transition: transform 0.4s ease;
  text-decoration: none;
}

.entry:hover {
  transform: translateY(-5px);
}

.entry-text {
  position: absolute;
  z-index: 1;
  margin: 15px;
  width: 250px;
}

.entry-text-1 {
  margin: 0;
  color: var(--primary);
  font-size: 22px;
}

.entry-text-2 {
  margin: 0;
  margin-top: 10px;
  color: var(--secondary);
  font-size: 16px;
}

.entry-tags {
  position: absolute;
  bottom: 0;
  margin: 15px;
}

.entry-tags>p {
  position: relative;
  float: left;
  margin: 0;
  font-size: 12px;
  color: var(--secondary);
  height: 30px;
  border: 1px solid var(--accent);
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px; padding-right: 10px;
  margin-right: 5px;
}

.entry-img {
  z-index: 0;
  position: absolute;
  bottom: 0; right: 0;
  height: 100%;
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}