.hardware-content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - max(250px, ((60% - mod(60%, 300px + 30px) - 30px + 200px)/2)));
  width: calc(60% - mod(60%, 300px + 30px) - 30px + 200px);
  min-width: 500px;
  opacity:  0;
  transition: opacity 0.4s ease;
}

.content-header {
  position: relative;
  padding-top: 30px; padding-bottom: 30px;
  padding-left: 50px; padding-right: 50px;
  border-bottom: 1px solid var(--border);
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.content-banner {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%),
    linear-gradient(135deg, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 50%);
}

.timeline {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border);
}

.line {
  position: absolute;
  margin-top: 30px;
  left: calc(125px - 6px/2);
  background-color: var(--border);
  width: 6px;
  mask-image: linear-gradient(to bottom, transparent 0px, black 30px, black calc(100% - 30px), transparent 100%);
  border-radius: 5px;
  transition: height 0.05s ease;
}

.year {
  opacity: 0;
  position: relative;
  margin-bottom: -30px;
  mask-composite: add;
  mask-image: 
      linear-gradient(to bottom, transparent 0px, black 15px, black calc(100% - 15px), transparent 100%),
      linear-gradient(to right, transparent 150px, black 150px);
  padding-top: 30px;
  padding-bottom: 30px;
  transform: translateY(30px);
  transition: all 0.4s ease;
}

.year.visible {
  opacity: 1;
  transform: translateY(0px);
}

.year-dot {
    position: absolute;
    top: calc(50% - 8px/2); left: calc(125px - 32px/2);
    background-color: var(--accent);
    border: 1px solid var(--border);
    box-sizing: border-box;
    width: 32px; height: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.year-line {
    border: 1px solid var(--border);
    box-sizing: border-box;
    position: absolute;
    top: 0; left: calc(125px - 8px/2);
    width: 8px; height: 100%;
    box-shadow: 0 25px 5px black;
}

.year-text {
    position: absolute;
    top: calc(50% - 50px/2); left: 25px;
    width: 50px; height: 50px;
    text-align: right;
    margin: 0;
    font-size: 22px;
    color: var(--primary);
    align-content: center;
}

.year-grid {
    position: relative;
    left: 175px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px 30px;
    margin: 0;
    min-height: 60px;
}

.entry {
  position: relative;
  float: left;
  width: 300px; height: 250px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 2px black;
  overflow: hidden;
  transition: all 0.4s ease;
  text-decoration: none;
}

.entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.entry-text {
  position: absolute;
  bottom: 0;
  z-index: 1;
  margin: 15px;
}

.entry-text-1 {
  margin: 0;
  color: var(--primary);
  font-size: 22px;
}

.entry-text-2 {
  margin: 0;
  margin-top: 10px;
  color: var(--secondary);
  font-size: 16px;
}

.entry-img {
  z-index: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
}