.content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - 65%/2);
  width: 65%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.content-header {
  position: relative;
  padding-top: 25px; padding-bottom: 25px;
  padding-left: 50px; padding-right: 50px;
  overflow: hidden;
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.content-body {
  padding: 25px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.heading {
  margin: 0;
  margin-bottom: 15px;
  color: var(--primary);
  font-size: 22px;
}

.text {
  margin: 0;
  margin-bottom: 15px;
  color: var(--secondary);
  font-size: 16px;
  padding-left: 25px;
}

.image {

}

.image-grid {
  width: calc(100% - 25px);
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.figure-image {
  position: relative;
  width: 25vw;
}

.figure-image>img {
  width: 25vw;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.figure-image>p {
  color: var(--secondary);
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.figure-image-vertical {
  position: relative;
  height: 20vw;
  margin-bottom: 30px;
}

.figure-image-vertical>img {
  height: 20vw;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.figure-image-vertical>p {
  color: var(--secondary);
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.figure-table {
  margin-left: 25px;
  padding-bottom: 10px;
}

.table-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.table-wrapper>table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

.table-head>th {
  padding: 5px;
  color: var(--secondary);
  font-size: 16px;
  background-color: var(--border);
}

.table-row>td {
  text-align: center;
  padding: 5px;
  color: var(--secondary);
  font-size: 16px;
}

.table-row:not(:last-child) > td {
  border-bottom: 1px solid var(--border);
}

.figure-table>p {
  color: var(--secondary);
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}