.photography-content {
  z-index: 0;
  position: relative;
  top: 75px; left: calc(50% - max(640px, 65%)/2);
  width: max(65%, 640px);
  opacity: 0;
  transition: opacity 0.4s ease;
}

@media (max-width: 800px) {
  .photography-content {
    width: 80%;
    left: calc(50% - 80%/2);
  }
}

.content-header {
  position: relative;
  padding-top: 30px; padding-bottom: 30px;
  padding-left: 50px; padding-right: 50px;
  overflow: hidden;
}

.content-text-1 {
  color: var(--primary);
  font-size: 22px;
  margin: 0;
}

.content-text-2 {
  color: var(--secondary);
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.content-banner {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%),
    linear-gradient(135deg, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 50%);
}

.content-grid {
  margin: 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding-top: 30px;
  padding-left: 25px; padding-right: 25px;
  column-width: 225px;
  column-gap: 30px;
}

.entry {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.entry:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.entry:hover .entry-text {
  opacity: 1;
}

.entry img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.entry-text {
  opacity: 0;
  position: absolute;
  bottom: 0; right: 0;
  text-align: right;
  z-index: 1;
  font-size: 16px;
  margin: 5px;
  color: var(--primary);
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.25);
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px; padding-right: 10px;
  transition: opacity 0.4s ease;
}