:root {
    --panel: rgb(30, 33, 45);
    --background: rgb(50, 55, 75);
    --highlight: rgb(70, 77, 105);
    --dark: rgb(20, 22, 30);
    --light: rgb(190, 200, 220);
    --shadow: rgba(20, 22, 30, 0.5);
}

body {
    position: relative;
    width: 900px;
    background-color: var(--background);
    margin: auto;
}

.graph {
    position: absolute;
    top: 10px; left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--panel);
    border-style: solid;
    border-color: var(--light);
    border-width: 0px;
    width: 880px;
    height: 130px;
}

.container {
    position: absolute;
    top: 150px; left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--panel);
    border-style: solid;
    border-color: var(--light);
    border-width: 0px;
    color: var(--light);
    width: 200px;
    height: 460px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.container.h3 {
    font-size: 14px;
}

.bottom-bar {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0; left: 0;
}

.bar-item {
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 10px;
    width: 34px; height: 34px;
    text-align: center;
}

.canvas {
    position: absolute;
    top: 150px; left: 220px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--panel);
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    width: 670px;
    height: 400px;
}

.button-grid{
    position: absolute;
    top: 560px; left: 220px;
    box-sizing: border-box;
    background-color: var(--panel);
    width: 670px;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--light);
    border-width: 0px;
    padding: 6px;
    overflow: hidden;
}

.sliding-cover {
    position: absolute;
    width: 87%;
    top: 0; left: 0;
    padding-top: 8px;
    height: 50px;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(0,0,0,0) 100%);
}

.sliding-insert {
    position: absolute;
    width: max-content;
    left: 6px;
}

.button {
    font-size: 14px;
    border-radius: 10px;
    padding-left: 15px; padding-right: 15px;
    height: 34px;
    color: var(--light);
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    padding-top: 2px;
    transition: box-shadow 0.4s ease;
}

.button-left {
    float: left;
    margin-right: 6px;
}

.button-right {
    position: absolute;
    right: 6px;
    float: right;
    margin-left: 6px;
}

.button-center {
    margin: auto;
    margin-top: 15px;
    width: max-content;
}

.button:hover {
    box-shadow: 0 10px 5px var(--shadow);
}

.alert {
    margin-top: 2px;
    color: var(--light);
    background-color: rgb(166, 90, 90);
}

.input-box {
    visibility: hidden;
    position: absolute;
    top: calc(150px + 200px - 50px); left: calc(220px + 335px - 125px);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--panel);
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    height: 150px;
    width: 250px;
    box-shadow: 0 10px 5px var(--shadow);
    overflow: hidden;
}

.input-box-entry {
    width: 230px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.input-box-entry > h3 {
    width: 145px;
    float: left;
    font-size: 16px;
    color: var(--light);
}

.input-box-entry > input {
    width: 75px;
    float: left;
    color-scheme: dark ;
    color: var(--light);
    background-color: var(--panel);
    border-width: 1px;
    border-color: var(--light);
    border-style: solid;
    border-radius: 10px;
    display: border-box;
}

.input-box-bottom {
    height: 50px;
    width: 250px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-button {
    position: relative;
    height: 34px;
    width: 100px;
    padding-left: 10px; padding-right: 10px;
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    font-size: 18px;
    transition: box-shadow 0.4s ease;
    color: var(--light);
}

.input-button:hover {
    box-shadow: 0 10px 5px var(--shadow);
}

.help-window {
    visibility: hidden;
    position: absolute;
    top: calc(150px + 200px - 140px);
    left: calc(220px + 335px - 250px);
    box-sizing: border-box;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--light);
    border-width: 1px;
    width: 500px;
    height: 280px;
    background-color: var(--panel);
    color: var(--light);
    padding-left: 20px;
}